<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: html(head = null,content = ~{::content},title = ${singlePage.spec.title + ' - ' + site.title})}">

    <th:block th:fragment="content">
        <main class="main-aboutpage">
            <!-- Header -->
            <th:block th:replace="~{modules/header :: header}"></th:block>
            <!-- 我的自述 -->
            <section class="about-area">
                <div class="container">
                    <div class="d-flex about-me-wrap align-items-start gap-24">
                        <div data-aos="zoom-in">
                            <div class="about-image-box shadow-box">
                                <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">
                                <div class="image-inner">
                                    <img th:src="${theme.config.banner.Information.headimg}">
                                </div>
                            </div>
                        </div>
    
                        <div class="about-details" data-aos="zoom-in">
                            <h1 class="section-heading" data-aos="fade-up"><img th:src="@{/assets/images/star-2.png}" alt="Star"> 我 的 自 述 <img th:src="@{/assets/images/star-2.png}" alt="Star"></h1>
                            <div class="about-details-inner shadow-box">
                                <img th:src="@{/assets/images/icon2.png}" alt="Star">
                                <h1>[[${theme.config.banner.Information.nickname}]]</h1>
                                <p th:utext="${theme.config.credentials.zishu}"></p>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="row mt-24">
                        <!-- <工作经历> -->
                        <div class="col-md-6" data-aos="zoom-in">
                            <div class="about-edc-exp about-experience shadow-box">
                                <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">
                                <h3><i class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;&nbsp;[[${theme.config.credentials.card1.title}]]</h3>
                                <ul th:if="${not #lists.isEmpty(theme.config.credentials.card1.typed)}"
                                    th:with="typedList = ${theme.config.credentials.card1.typed}">
                                    <li th:each="typed : ${typedList}">
                                        <p class="date" th:text="${typed.time}"></p>
                                        <h2 th:text="${typed.bigtitle}"></h2>
                                        <p class="type" th:text="${typed.smalltitle}"></p>
                                    </li>
                                </ul>      
                            </div>
                        </div>
                        <!-- <学习经历> -->
                        <div class="col-md-6" data-aos="zoom-in">
                            <div class="about-edc-exp about-education shadow-box">
                                <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">
                                <h3><i class="fa-solid fa-school"></i>&nbsp;&nbsp;&nbsp;[[${theme.config.credentials.card2.title}]]</h3>
                                <ul th:if="${not #lists.isEmpty(theme.config.credentials.card2.typed)}"
                                    th:with="typedList = ${theme.config.credentials.card2.typed}">
                                    <li th:each="typed : ${typedList}">
                                        <p class="date" th:text="${typed.time}"></p>
                                        <h2 th:text="${typed.bigtitle}"></h2>
                                        <p class="type" th:text="${typed.smalltitle}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-24">
                        <div class="col-md-12">
                            <div class="d-flex profile-contact-credentials-wrap gap-24">



                                <div data-aos="zoom-in">
                                    <div class="about-profile-box info-box shadow-box h-full">
                                        <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">                                    
                                            <ul th:if="${not #lists.isEmpty(theme.config.banner.card5.icons)}"
                                                th:with="iconsList = ${theme.config.banner.card5.icons}" class="inner-profile-icons shadow-box">
                                                <li th:each="icons : ${iconsList}">
                                                    <a th:href="${icons.url}">
                                                        <i th:classappend="${icons.icon}"></i>
                                                    </a>
                                                </li>
                                            </ul>                                    
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>[[${theme.config.banner.card5.smalltitle}]]</h4>
                                                <h1>[[${theme.config.banner.card5.bigtitle}]]</h1>
                                            </div>
                                            <a th:href="${theme.config.banner.card5.jumpurl}" class="about-btn">
                                                <img th:src="@{/assets/images/icon.svg}" alt="Button">
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <div data-aos="zoom-in" class="flex-1">
                                    <div class="about-contact-box info-box shadow-box">
                                        <a class="overlay-link" th:href="${theme.config.banner.card6.jumpurl}"></a>
                                        <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">
                                        <img th:src="@{/assets/images/icon2.png}" alt="Icon" class="star-icon">
                                        <h1 th:utext="${theme.config.banner.card6.text}"></h1>
                                        <a th:href="${theme.config.banner.card6.jumpurl}" class="about-btn">
                                            <img th:src="@{/assets/images/icon.svg}" alt="Button">
                                        </a>
                                    </div>
                                </div>
    
                                <div data-aos="zoom-in" class="h-full">
                                    <div class="about-crenditials-box info-box shadow-box">
                                        <a class="overlay-link" th:href="${theme.config.credentials.card3.jumpurl}"></a>
                                        <img th:src="@{/assets/images/bg1.png}" alt="BG" class="bg-img">
                                        <img th:src="${theme.config.credentials.card3.img}" alt="Sign">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>[[${theme.config.credentials.card3.smalltitle}]]</h4>
                                                <h1>[[${theme.config.credentials.card3.bigtitle}]]</h1>
                                            </div>
        
                                            <a th:href="${theme.config.credentials.card3.jumpurl}" class="about-btn">
                                                <img th:src="@{/assets/images/icon.svg}" alt="Button">
                                            </a>
        
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer -->
            <footer th:replace="~{modules/footer :: footer}"></footer>
        </main>
    </th:block>
</html>