<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content,title)"
  th:with="siteTitle = ${not #strings.isEmpty(title) ?  title  :  #strings.isEmpty(site.subtitle) ? site.title :  site.title +' - ' +site.subtitle }"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"/>
    <title th:text="${siteTitle}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/iconoir.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.5.2/css/all.css" rel="stylesheet">
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block> 
  </head>
  <body>
      <th:block th:replace="${content}" />
      <script th:src="@{/assets/js/main.js}"></script>
      <script th:src="@{/assets/js/jquery-3.6.4.js}"></script>
      <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/assets/js/aos.js}"></script>
      <script th:src="@{/assets/js/main.js}"></script>
  </body>
</html>
